.button {
    background-color: #242723;
    color: #cccccc;
    border: none;
    border-radius: 15px;
    padding: 10px 15px;
    cursor: pointer;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}

.button:hover {
    background-color: #3a3d38;
    color: #ffffff;
}

.icon {
    font-size: 0.8rem;
    color: #cccccc;
    text-align: inherit;
}

.label {
    flex-grow: 1;
    text-align: left;
    font-size: 0.8rem;
    display: flex;
    align-items: center;
    gap: 8px;
}
