.tabWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: #f7f7f7;
    width: 520px;
    height: 57px;
}

.tabList {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab {
    color: #8a8a8a;
    width: 170px;
    height: 47px;
    font-size: 18px;
}

.selected {
    color: #ffffff;
    background-color: #000000;
    border-radius: 56px;
    width: 160px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selected:focus {
    outline: none;
}
