.message-item {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #424242;
    padding: 15px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

.message-item:hover {
    background-color: #444444;
}

.message-icon {
    font-size: 1.2rem;
    color: #cccccc;
}

.message-text {
    flex-grow: 1;
    color: #cccccc;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
